#gms-actions {
    display: inline-block;

    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;

    margin-bottom: 10px;
}

    #gms-actions sj-paper-button {
        margin-bottom: -5px;
    }

    #gms-actions .status {
        font-style: italic;
        color: #AAAAAA;

        margin: 0 10px;
        vertical-align: 7px;
    }

#gms-status-icon-label {
    height: 34px;
}

#gms-status-icon-checkbox {
    margin-right: 16px;
}

.qtip-fixed {
    position: fixed;
}