#gms-actions {
    display: inline-block;

    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;

    margin: 12px 0;
}

    #gms-actions paper-button[data-state="link"] .text::before {
        content: 'Link Account';
    }

    #gms-actions paper-button[data-state="unlink"] .text::before {
        content: 'Unlink Account';
    }

    #gms-actions paper-button[data-state="confirm"] .text::before {
        content: 'Confirm Link';
    }

    #gms-actions .status {
        font-style: italic;
        color: #AAAAAA;

        margin: 0 10px;
        vertical-align: 1px;
    }

#gms-status-icon-checkbox {
    width: 100%;

    margin: 6px 0;
}

.qtip-fixed {
    position: fixed;
}