#gmm-divider {
    padding-top: 7px;
}

#gmm-icon-container {
    text-indent: 30px;
    opacity: 0.5;
    z-index: 991;
}

#gmm-icon-container:hover {
    opacity: 1;
}

img#gms-icon {
    display: inline !important;

    border:1px solid #;

    -moz-border-radius: 2px;
    border-radius: 2px;

    width: 18px;
    height: 18px;
}

.qtip-content {
    padding: 13px;
}

#gms-popup-setup p {
    font-size: 15px;
    line-height: 18px;
    margin: 0;
}

#gms-popup-setup .actions {
    margin-top: 10px;
}

#gms-popup-setup .actions button:last-child {
    margin-right: 0;
}