#gmm-divider {
    padding-top: 7px;
}

#gmm-icon-container {
    text-indent: 20px;
    opacity: 0.5;
    z-index: 991;

    margin-bottom: 10px;
}

#gmm-icon-container:hover {
    opacity: 1;
}

img#gms-icon {
    display: inline !important;

    -moz-border-radius: 2px;
    border-radius: 2px;

    width: 18px;
    height: 18px;
}

.qtip {
    max-width: 500px;
}

.qtip-content {
    padding: 10px 15px;
}

.gms-popup h2, .gms-popup p {
    font-size: 15px;
    line-height: 20px;
}

.gms-popup h2 {
    margin: 0 0 15px;
    padding: 0;
}

.gms-popup p {
    margin: 0;
    padding: 0;
}

.gms-popup .actions {
    margin-top: 15px;
}

.gms-popup .actions button:last-child {
    margin-right: 0;
}